# General
# ------------------------------------------------------------------------------
USE_DOCKER=yes
IPYTHONDIR=/app/.ipython

# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redis://redis:6379/0

# Celery
# ------------------------------------------------------------------------------
# Flower
CELERY_FLOWER_USER=
CELERY_FLOWER_PASSWORD=

# Auth0
AUTH0_DOMAIN=

# Logout
ACCOUNT_LOGOUT_REDIRECT_URL=http://localhost:3000/
ACCOUNT_LOGOUT_ON_GET=True
LOGOUT_REDIRECT_URL=http://localhost:3000/

# SpectrumX Visualization Interface Authentication Tokens
# (this is needed by the SVI to communicate with the SDS to pull user's SDK API tokens)
# limit to 40 characters
SVI_SERVER_API_KEY=
# SDS user API key to use on a dev server only
SDS_USER_API_KEY=
