.capture-index-number-input {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  text-align: center;
  max-width: 50px;
}

.capture-index-number-input::-webkit-inner-spin-button,
.capture-index-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
