:root {
  --primary-color: #002147;
  --secondary-color: #0056b3;
  --text-color: #333;
  --light-gray: #f5f5f5;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: var(--text-color);
}

.page-container {
  padding: 2.5rem 5rem;
}

.page-container-wide {
  padding: 2.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.rainbow-bar {
  height: 4px;
  width: 100%;
  background: linear-gradient(
    to right,
    /* Red */ #ff0000,
    /* Orange */ #ff7f00,
    /* Yellow */ #ffff00,
    /* Green */ #00ff00,
    /* Blue */ #0000ff,
    /* Indigo */ #4b0082,
    /* Violet */ #8f00ff
  );
  z-index: 1001;
}

/* Header Styles */
.site-header {
  background: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000;
  padding: 0 0 4px 0;
}

.header-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  gap: 2rem;
  flex-wrap: wrap;
}

/* logo container to take more space */
.logo-container {
  flex: 0 0 auto;
  min-width: 200px;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
}

.nav-container {
  min-width: 200px;
  padding-right: 1rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* a gap between the logo image and the site name */
  gap: 1rem;
  width: 100%;
}

.logo-text {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--primary-color);
  text-align: center;
  flex: 1;
}

.logo img {
  height: 30px;
}

.main-nav {
  display: flex;
  gap: 2rem;
  padding: 0;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 0;
  padding-left: 0;
}

.main-nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.3s;
  align-content: center;
}

.main-nav a:hover {
  color: var(--secondary-color);
}

/* Hero Section */
.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 1rem 0 4rem 0;
  margin-bottom: 0;
}

.hero h1 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
}

.hero-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.hero-box {
  background: rgba(255, 255, 255, 0.1);
  color: var(--white);
  padding: 1.25rem;
  border-radius: 8px;
}

.hero-box .card-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.hero a {
  color: var(--white);
  transition: opacity 0.3s;
}

.hero a:hover {
  opacity: 0.8;
}

.hero-box a {
  color: var(--white);
  transition: opacity 0.3s;
}

.hero-box a:hover {
  opacity: 0.8;
}

/* About Section */
.about-section {
  padding: 4rem 0;
  background: var(--light-gray);
}

.about-section h3 {
  color: var(--secondary-color);
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* Footer */
.site-footer {
  background: #000;
  color: var(--white);
  padding: 1.5rem 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
}

.footer-logos {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  flex: 0.5;
}

.footer-logos img {
  height: 40px;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.contact-button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background: var(--white);
  color: #000;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.footer-text {
  max-width: 800px;
  min-width: 60%;
  flex: 2;
  padding: 0 2rem;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.5;
}

.copyright-container {
  flex: 0.5;
  text-align: right;
}

.copyright {
  font-size: 0.875rem;
  text-align: right;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-boxes {
    grid-template-columns: 1fr;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }

  .footer-logos {
    justify-content: center;
  }

  .copyright-container {
    width: 100%;
    text-align: left;
  }

  .copyright {
    text-align: left;
  }

  .main-nav {
    display: none;
  }

  .navbar-brand span {
    font-size: 1rem;
    margin-left: 2rem;
  }

  .logo-container,
  .nav-container {
    min-width: 150px;
    width: 100%;
    text-align: center;
  }
}

/* Added to remove underline/hyperlink from website name */
.no-underline,
.no-underline:hover,
.no-underline:focus,
.no-underline:active {
  text-decoration: none;
}

/* Center the brand section */
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  min-width: 600px;
  padding-left: 40px;
}

.navbar-brand span {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--primary-color);
  white-space: nowrap;
}

@media (max-width: 768px) {
  .navbar-brand {
    min-width: unset;
    /* Reset padding on mobile */
    padding-left: 0;
  }

  .navbar-brand span {
    font-size: 1rem;
    position: static;
    margin-left: 2rem;
    transform: none;
  }
}

.scan-details-table {
  table-layout: fixed;
  width: 100%;
}

.capture-table-infobox-height {
  height: 32px;
}
